 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/Home.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 544px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  font-weight: bold;
  margin: 25px 541px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  border-style: solid;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px auto 0 0;
  padding: 18px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 48px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 441px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 176px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 105px;
    margin-left: 10px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 528px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 50px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 51px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 285px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  min-height: 173px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 10px 397px 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  min-height: 173px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 10px 397px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 340px;
    grid-gap: 20px 20px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 284px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 561px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 641px;
  }

  .u-section-2 .u-group-1 {
    min-height: 215px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 369px;
  }

  .u-section-2 .u-group-2 {
    min-height: 215px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 369px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 869px;
  }

  .u-section-2 .u-group-1 {
    min-height: 327px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 169px;
  }

  .u-section-2 .u-group-2 {
    min-height: 327px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 169px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 562px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 50px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 50px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 346px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px 30px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-3 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1258px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 463px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 50px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 218px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 148px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  min-height: 148px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 178px;
  }

  .u-section-4 .u-group-1 {
    min-height: 243px;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 243px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 471px;
  }

  .u-section-4 .u-group-1 {
    min-height: 173px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-group-2 {
    min-height: 173px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-1 {
    min-height: 247px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 247px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 478px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 51px 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 51px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 261px;
  grid-gap: 32px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-2 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-4 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-text-6 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-text-8 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 50px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 51px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
    min-height: 211px;
    grid-gap: 32px 32px;
    grid-auto-columns: calc(25% - 24px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    min-height: 518px;
    grid-auto-columns: calc(50% - 16px);
  }

  .u-section-5 .u-text-2 {
    width: 244px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-4 {
    width: 244px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-6 {
    width: 244px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-8 {
    width: 244px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 51px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 844px;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 17px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 3.75rem;
    margin-top: 17px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    font-size: 3.75rem;
    margin-top: 17px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    font-size: 3.75rem;
    margin-top: 17px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 281px;
}

.u-section-6 .u-list-1 {
  margin-top: 0;
  margin-bottom: 49px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 232px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-group-2 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-text-4 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 191px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 49px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-group-1 {
    min-height: 164px;
  }

  .u-section-6 .u-group-2 {
    min-height: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 480px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 167px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-group-2 {
    min-height: 167px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #f7f7f7);
}

.u-section-7 .u-sheet-1 {
  min-height: 215px;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.5s;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto;
  padding: 18px 58px 19px 56px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    padding-bottom: 18px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-btn-1 {
    padding-right: 59px;
    padding-left: 58px;
  }
}

.u-section-7 .u-btn-1,
.u-section-7 .u-btn-1:before,
.u-section-7 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-7 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-7 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-8 {
  background-image: url("images/Background.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 592px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 678px;
  margin: 75px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 568px;
  margin: 10px auto 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.5s;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px auto 49px;
  padding: 18px 57px 18px 56px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-8 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.625rem;
    width: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 2.375rem;
    width: 429px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 50px;
  }
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before,
.u-section-8 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-8 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}